<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="clr"
    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
  <conversionRule conversionWord="wex"
    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
  <conversionRule conversionWord="wEx"
    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>


  <!-- log file path -->
  <property name="LOG_PATH" value="/home/ubuntu/logs"/>
  <!-- log file name -->
  <property name="LOG_FILE_NAME" value="server_log"/>
  <!-- pattern -->
  <property name="FILE_LOG_PATTERN"
    value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS},${logback.timezone:-Asia/Seoul}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  <property name="FILE_LOG_CHARSET" value="${FILE_LOG_CHARSET:-default}"/>


  <appender name="FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 파일경로 설정 -->
    <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>

    <!-- 출력패턴 설정 -->
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>

    <!-- Rolling 정책 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 -->
      <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- 파일당 최고 용량 kb, mb, gb -->
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>

      <!-- 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거 -->
      <maxHistory>30</maxHistory>
      <!--<MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex> -->
    </rollingPolicy>
  </appender>


  <!-- com.example.springbootrestapi -->
  <logger name="com.example.springbootrestapi"
    level="INFO"
    additivity="false">
    <appender-ref ref="FILE-APPENDER"/>
  </logger>
  <!-- hikari -->
  <logger name="com.zaxxer.hikari"
    level="INFO"
    additivity="false">
    <appender-ref ref="FILE-APPENDER"/>
  </logger>

  <!-- 로그 레벨 설정 -->
  <root level="INFO">
    <appender-ref ref="FILE-APPENDER"/>
  </root>

</configuration>