# Ignore build output directories and files
/build/
/out/
/classes/
/*.jar
/*.war

# Ignore IDE files (e.g., IntelliJ, Eclipse)
/.idea/
/.vscode/
/.project
/.classpath

# Ignore Gradle specific files
.gradle/
